.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  }
  .form-container {
    background-color: #8b592bda!important; /* Color de fondo con transparencia */
    backdrop-filter: blur(100px)!important; /* Efecto de desenfoque // Cambia este color al que desees */
  }

  .colorbuttom{
    background-color: black;
  }